.App {
  font-family: tahoma, sans-serif;
  text-align: left;
  max-width: 550px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.form {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 10px 10px;
  line-height: 40px;
}

.input {
  border-radius: 10px;
  padding: 5px;
  /* cursor: pointer; */
}

.button {
  background: rgb(140, 237, 143);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: unset;
  padding: 10px;
  margin: 50px;
  cursor: pointer;
  width: 200px;
}

button:hover {
  transform: scale(1.1);
}

.record {
  text-align: left;
  background: rgb(238, 235, 235);
  padding: 10px;
  border-radius: 10px;
  position: relative;
  margin: 10px;
}

.approved {
  border-left: 5px solid rgb(128, 228, 128);
}

.unapproved {
  border-left: 5px solid rgb(243, 102, 102);
}

.deleteBtn {
  background-color: rgb(219, 4, 4);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  border: unset;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
}

.export {
  background:rgb(139, 202, 244);
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
  border: unset;
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  
}